
<router-outlet></router-outlet>
<!-- Navbar start -->
<app-navbar></app-navbar>
<!-- Navbar End -->


<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->


<!-- Hero Start -->
<app-main-silder></app-main-silder>
<!-- Hero End -->


<!-- Featurs Section Start -->
<app-features-policy></app-features-policy>
<!-- Featurs Section End -->


<!-- Fruits Shop Start-->
<app-our-organic-products></app-our-organic-products>

<!-- Fruits Shop End-->


<!-- Featurs Start -->
<app-features-discount></app-features-discount>
<!-- Featurs End -->


<!-- Vesitable Shop Start-->
<app-organic-vegetables></app-organic-vegetables>
<!-- Vesitable Shop End -->


<!-- Banner Section Start-->
<app-banner></app-banner>
<!-- Banner Section End -->


<!-- Bestsaler Product Start -->
<app-special-products></app-special-products>
<!-- Bestsaler Product End -->


<!-- Fact Start -->
<app-fact></app-fact>
<!-- Fact Start -->

<!-- Tastimonial Start -->
<app-testimonial></app-testimonial>
<!-- Tastimonial End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Copyright Start -->
<app-copyright></app-copyright>
<!-- Copyright End -->



<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   