<!-- Hero Start -->
<app-main-silder></app-main-silder>
<!-- Hero End -->


<!-- Featurs Section Start -->
<app-features-policy></app-features-policy>
<!-- Featurs Section End -->


<!-- Fruits Shop Start-->
<app-our-organic-products></app-our-organic-products>

<!-- Fruits Shop End-->


<!-- Featurs Start -->
<app-features-discount></app-features-discount>
<!-- Featurs End -->


<!-- Vesitable Shop Start-->
<app-organic-vegetables></app-organic-vegetables>
<!-- Vesitable Shop End -->


<!-- Banner Section Start-->
<app-banner></app-banner>
<!-- Banner Section End -->


<!-- Bestsaler Product Start -->
<app-special-products></app-special-products>
<!-- Bestsaler Product End -->


<!-- Fact Start -->
<app-fact></app-fact>
<!-- Fact Start -->

<!-- Tastimonial Start -->
<app-testimonial></app-testimonial>
<!-- Tastimonial End -->